:global(#App) {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
}

:local(.inputContainer){
  display: inline-block;
  position: relative;
  vertical-align: middle;
  max-width: 100%;
  top: 50%;
}

:local(.input) {
  display: inline-block;
  width: auto;
}

:local(.submit) {
  float: right;
  width: auto;
}